<form action="/items" method="post">
  <label for="name">Add a new item</label>
  <input id="name" name="name" type="text">
  <label>
    <input type="checkbox" name="purchased" id="purchased" value="true" checked>Select if you own already
  </label>
  <label for="weight">Add weight of item</label>
  <input id="weight" name="weight" type="number">
  <button type="submit">Submit</button>
</form>
